:root {
  --color-bg: #1b1f1d;
  --color-active: #6f0e0e;
  --color-header-text: #fff;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 85px;
  background-color: var(--color-bg);
}

header a {
  text-decoration: none;
  color: var(--color-header-text);
}

header a:hover {
  text-decoration: underline;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}

main a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  cursor: default;
}